<div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label for="occupation" class="form-label text-primary">Ocupación Actual</label>
              <select class="form-select" id="occupation" name="occupation">
                <option selected>Seleccionar ocupación...</option>
                <option value="estudiante">Estudiante</option>
                <option value="trabajador">Trabajador</option>
                <option value="desempleado">Desempleado</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="degree" class="form-label text-primary">Grado Aprobado</label>
              <select class="form-select" id="degree" name="degree">
                <option selected>Seleccionar grado...</option>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="universitario">Universitario</option>
              </select>
            </div>
          </div>
          <div class="row mb-6 mt-2">
            <div class="col-md-6">
              <div class="mb-3">


                <div class="form-inline mt-2">
                  <div class="form-group">
                    <label class="mr-2 text-primary" for="sabeLeerEscribir">¿Sabe leer y escribir?</label>
                    <br>
                    <div class="form-check form-check-inline mr-2">
                      <input class="form-check-input" type="radio" name="sabeLeerEscribir" id="siRadio" value="si">
                      <label class="form-check-label text-primary" for="siRadio">Sí</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="sabeLeerEscribir" id="noRadio" value="no">
                      <label class="form-check-label text-primary" for="noRadio">No</label>
                    </div>
                  </div>
                 
                </div>
                


              </div>
            </div>
          </div>
         
        </form>
      </div>
    </div>
  </div>
  