<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top" [class.bg-white]="isNavbarScrolled">
  <div class="container">
     <a class="navbar-brand my-3" href="#">
            <img src="../../../assets/logo/logo.png" alt="Bootstrap"  height="30">
          </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item  mx-2">
            <a class="nav-link active text-uppercase" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link text-uppercase" href="#">Historia</a>
          </li>
          <li class="nav-item  mx-2">
            <a class="nav-link text-uppercase" href="#">Acerca de</a>
          </li>

        </ul>
        
        <form class="d-flex" role="search">
         
         
          
            
            <a class="nav-link text-uppercase text-white" href="#">
              
              <i class="bi bi-box-arrow-in-right"></i>
              Iniciar Sesión</a>
            

        </form>


      </div>
    
  </div>
</nav>

<!-- Imagen de Fondo -->
<div class="background-image">
  <!-- Contenido adicional puede ir aquí -->
</div>




<div class="bg-light text-center text-lg-start">
  <div class="d-flex justify-content-center align-items-center flex-wrap p-4">
    <!-- Icono 1 -->
    <div class="mx-2">
      <img src="../../../assets/logos-gov/gobierno.png" alt="Icon 1" class="footer-icon" style="max-height: 150px;">
    </div>
    <!-- Icono 2 -->
    <div class="mx-2">
      <img src="../../../assets/logos-gov/logRNPN.png" alt="Icon 2" class="footer-icon" style="max-height: 150px;">
    </div>
  </div>
  <!-- Texto del footer -->
  <div class="text-center p-3 text-primary" style="background-color: rgba(0, 0, 0, 0.03);">
    Gobierno de El Salvador - Derechos Reservados 2024
  </div>
</div>