<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="bookType" class="form-label text-primary">Tipo de Libro</label>
              <input type="text" class="form-control" id="bookType" placeholder="Tipo de Libro">
            </div>
            <div class="col-md-6">
              <label for="inscriptionDate" class="form-label text-primary">Fecha Inscripción</label>
              <input type="date" class="form-control" id="inscriptionDate">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="observations" class="form-label text-primary">Observaciones</label>
              <textarea class="form-control" id="observations" rows="3" placeholder="Observaciones"></textarea>
            </div>
          </div>
         
        </form>
      </div>
    </div>
  </div>
  