<div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="firstName" class="form-label text-primary">Primer Nombre</label>
              <input type="text" class="form-control" id="firstName" placeholder="Primer Nombre">
            </div>
            <div class="col-md-6">
              <label for="middleName" class="form-label text-primary">Segundo Nombre</label>
              <input type="text" class="form-control" id="middleName" placeholder="Segundo Nombre">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="lastName" class="form-label text-primary">Primer Apellido</label>
              <input type="text" class="form-control" id="lastName" placeholder="Primer Apellido">
            </div>
            <div class="col-md-6">
              <label for="secondLastName" class="form-label text-primary">Segundo Apellido</label>
              <input type="text" class="form-control" id="secondLastName" placeholder="Segundo Apellido">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="gender" class="form-label text-primary">Sexo</label>
              <select class="form-select" id="gender">
                <option selected>Seleccionar sexo...</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="birthWeight" class="form-label text-primary">Peso al nacer (gramos)</label>
              <input type="number" class="form-control" id="birthWeight" placeholder="Peso al nacer" min="0" value="0" step="0.01" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="birthDate" class="form-label text-primary">Fecha Nacimiento (dd/mm/aaaa)</label>
              <!-- <input type="date" class="form-control" id="birthDate"> -->
              <div>
                <p-calendar
                  id="birthDate"            
                  name="birthDate"
                  dateFormat="dd/mm/yy"
                  formControlName="birthDate"
                  inputStyleClass="form-control"
                  [readonlyInput]="true"
                  [inputStyle]="{ width: '100vh' }"
                ></p-calendar>
              </div>

            </div>
            <div class="col-md-6">
              <label for="birthTime" class="form-label text-primary">Hora Nacimiento</label>
              <!-- <input type="time" class="form-control" id="birthTime"> -->
              <div>
                <p-calendar
                  id="birthTime"            
                  name="birthTime"
                  [showTime]="true" hourFormat="12" [timeOnly]="true"  [readonlyInput]="true"
                  formControlName="birthTime"
                  inputStyleClass="form-control"
                  [readonlyInput]="true"
                  [inputStyle]="{ width: '100vh' }"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="birthLength" class="form-label text-primary">Talla al nacer (cm)</label>
              <input type="number" class="form-control" id="birthLength" placeholder="Talla al nacer">
            </div>
            <div class="col-md-6">
              <label for="cun" class="form-label text-primary">CUN</label>
              <input type="number" class="form-control" id="cun" placeholder="CUN">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="boletaNumber" class="form-label text-primary">Número de Boleta</label>
              <input type="number" class="form-control" id="boletaNumber" placeholder="Número de Boleta">
            </div>
            <div class="col-md-6">
              <label for="nui" class="form-label text-primary">NUI</label>
              <input type="number" class="form-control" id="nui" placeholder="NUI">
            </div>
          </div>
         
        </form>
      </div>
    </div>
  </div>
  