.bg-image {
    background-image: url('../../../assets/img3.jpg'); /* Cambia 'imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    
  }