<div class="card" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="container">
    <div class="col-md-12">
      <div class="row mt-2">
        <div class="col-md-5">
          <p class="mb-0" style="font-size: 0.8em; color: #999;">
            © Registro Nacional de las Personas Naturales.
            <br> Todos los derechos reservados {{ currentYear }} .
          </p>
        </div>

        <div class="col-md-2 text-center">
          <p class="mb-0" style="font-size: 0.8em; color: #999;">{{ "info@rnpn.gob.sv" }}</p>
        </div>

        <div class="col-md-5 d-flex justify-content-end">
          <img
            src="assets/logos-gov/gobierno.png"
            alt="Logo 1"
            class="footer-logo altura-logo mx-3"
          />

          <img
            src="assets/logos-gov/RNPNFooter.png"
            alt="Logo 2"
            class="footer-logo mx-3"
          />
        </div>
      </div>
    </div>
  </div>
</div>
