.delmargin{

    margin-left: 0px o !important;
}


.altura-logo{
    height: 75px;
  }
  
  .ancho-logo{
    width: 125px;
  }
  
  footer { 
    padding: 1px 0;
  }
  /* Estilo para las imágenes del footer */
  .footer-logo {
    max-width: 100px;
  }