<div class="container-fluid animate__animated animate__slideInRight">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">


           
          </div>
          <div class="card-body"  style="padding-bottom: 0px;">
          
           <div class="col-md-12">

           <div class="row">

            
            <div class="col-md-8 col-sm-12">
              <app-firma></app-firma>

              <div class="mt-5">
                <h5 class="contenido-medium mb-4">Favoritos</h5>

                

                <div class="container animate__animated animate__fadeInDown">


                  <!-- <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
                    <div class="col">
                      <a [routerLink]="'/inicio/principal'" class="card card-custom text-center text-decoration-none">
                        <div class="card-body card-custom-body">
                          <i class="bi bi-house-door bi-custom"></i>
                          <h6 class="card-title card-custom-title">Inicio</h6>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a [routerLink]="'/inicio/principal'" class="card card-custom text-center text-decoration-none">
                        <div class="card-body card-custom-body">
                          <i class="bi bi-search bi-custom"></i>
                          <h6 class="card-title card-custom-title">Búsqueda</h6>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a [routerLink]="'/inicio/principal'" class="card card-custom text-center text-decoration-none">
                        <div class="card-body card-custom-body">
                          <i class="bi bi-file-text bi-custom"></i>
                          <h6 class="card-title card-custom-title">Documentos</h6>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a [routerLink]="'/inicio/principal'" class="card card-custom text-center text-decoration-none">
                        <div class="card-body card-custom-body">
                          <i class="bi bi-person bi-custom"></i>
                          <h6 class="card-title card-custom-title">Perfil</h6>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a [routerLink]="'/inicio/principal'" class="card card-custom text-center text-decoration-none">
                        <div class="card-body card-custom-body">
                          <i class="bi bi-gear bi-custom"></i>
                          <h6 class="card-title card-custom-title">Configuración</h6>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a [routerLink]="'/inicio/principal'" class="card card-custom text-center text-decoration-none">
                        <div class="card-body card-custom-body">
                          <i class="bi bi-envelope bi-custom"></i>
                          <h6 class="card-title card-custom-title">Contacto</h6>
                        </div>
                      </a>
                    </div>
                  </div> -->

                  

                    <div class="col-md-12">

                    

                      <div class="row">

                        <div class="col-md-2">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-gear-wide-connected bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Configuración</h6>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-calendar3-event bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Eventos</h6>
                                </div>
                            </div>                            
                        </div>
                    
                        <div class="col-md-2">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-person-circle bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Perfil</h6>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-search bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Buscar</h6>
                                </div>
                            </div>                            
                        </div>
                    
                    </div>
                    
                    <div class="row mt-1 ">
                    
                        <div class="col-md-4">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-tools bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Herramientas</h6>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-2">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-list-ul bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Tareas</h6>
                                </div>
                            </div>                            
                        </div>
                    
                        <div class="col-md-4">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-chat-dots bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Mensajes</h6>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-2">
                            <div class="card card-custom">
                                <div class="card-body card-custom-body">
                                    <i class="bi bi-file-earmark-arrow-down bi-custom"></i>
                                    <h6 class="card-title card-custom-title">Descargas</h6>
                                </div>
                            </div>                            
                        </div>
                    
                    </div>
                    

                  </div>


                </div>


              </div>

              
            </div>

            <div class="col-md-4 col-sm-12 animate__animated animate__fadeInRight d-flex flex-column justify-content-end">
              <img src="assets/miss.png" height="100"
              class="img-fluid rounded-top"
              alt="miss"  />
             
            </div>
           </div>


           </div>
  
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  