{{ texto }}

<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h3 class="animate-charcter titulo" >Construyendo</h3>
    </div>
  </div>
</div>





<div class="ml-5">

  <div class="blank-line-list list-speed-4 num-words-3 mt-5 " style="text-transform: capitalize !important; font-size: 30px !important; ">
    <div class="subtitulo ml-5"  style="text-transform: capitalize !important; font-size: 30px !important;  font-style: normal; margin-left: 10px; color: #2112c9;">tu identidad,</div>
    <div class="subtitulo ml-5"  style="text-transform: capitalize !important; font-size: 30px !important;  font-style: normal; margin-left: 10px;  color: #2112c9;">tu historia,</div>
    <div class="subtitulo ml-5"  style="text-transform: capitalize !important; font-size: 30px !important; font-style: normal; margin-left: 10px;  color: #2112c9;">tu futuro.</div>        
  </div>

</div>



  
  