<div class="container-fluid h-100">
    <div class="row h-100">
      <!-- Sección de imagen -->
      <div class="col-md-6 p-0 d-none d-md-flex justify-content-center align-items-center bg-image-section">
        <!-- Puedes colocar aquí tu imagen de fondo como contenido o como estilo CSS -->
      </div>
      <!-- Sección del formulario -->
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <div class="text-center mb-4">
          <img src="../../../assets/logo/logo.png" alt="Institution Icon" class="institution-icon">
        </div>
        <div class="form-container">
          <h2 class="mb-4">"¿Olvidaste tu contraseña/usuario?"</h2>
          <p>Las indicaciones para restablecerla llegarán al correo electrónico o teléfono registrado o asociado a tu DUI. ¡Estamos aquí para ayudarte en todo momento!</p>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" id="emailInput" placeholder="Email Address">
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <button type="submit" class="btn btn-primary">RESET PASSWORD</button>
              <a href="path/to/login" class="link-primary">Back to Sign In</a>
            </div>
          </form>
        </div>
        <div class="footer-logos mt-auto mb-4 d-flex justify-content-between">
          <img src="../../../assets/logos-gov/RNPNFooter.png" alt="Logo 1" class="img-fluid">
          <img src="../../../assets/logos-gov/gobierno.png" alt="Logo 2" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  