<div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="deliveryType" class="form-label text-primary">Tipo de parto</label>
              <select class="form-select" id="deliveryType">
                <option selected>Seleccionar tipo de parto...</option>
                <option value="vaginal">Vaginal</option>
                <option value="cesarea">Cesárea</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="deliveryClass" class="form-label text-primary">Clase de parto</label>
              <select class="form-select" id="deliveryClass">
                <option selected>Seleccionar clase de parto...</option>
                <option value="normal">Normal</option>
                <option value="complicado">Complicado</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="pregnancyDuration" class="form-label text-primary">Duración embarazo (semanas)</label>
              <input type="number" class="form-control" id="pregnancyDuration" placeholder="Duración embarazo">
            </div>
            <div class="col-md-6">
              <label for="assistanceType" class="form-label text-primary">Tipo de asistencia</label>
              <select class="form-select" id="assistanceType">
                <option selected>Seleccionar tipo de asistencia...</option>
                <option value="doctor">Doctor</option>
                <option value="enfermero">Enfermero</option>
                <option value="partera">Partera</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="assistantFullName" class="form-label text-primary">Nombre completo - asistente</label>
              <input type="text" class="form-control" id="assistantFullName" placeholder="Nombre completo - asistente">
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  