<div class="container mt-2">
    <div class="row">
      <div class="col-md-12">
        <form>


          <div class="row mb-3">
            <div class="col-md-6">
              <label for="country" class="form-label text-primary">País</label>
              <select class="form-select" id="country">
                <option selected>Seleccionar país...</option>
                <option value="pais1">País 1</option>
                <option value="pais2">País 2</option>
                <option value="pais3">País 3</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="state" class="form-label text-primary">Departamento/Estado</label>
              <select class="form-select" id="state">
                <option selected>Seleccionar departamento/estado...</option>
                <option value="dept1">Departamento/Estado 1</option>
                <option value="dept2">Departamento/Estado 2</option>
                <option value="dept3">Departamento/Estado 3</option>
              </select>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-6">
              <label for="city" class="form-label text-primary">Municipio/Ciudad</label>
              <select class="form-select" id="city">
                <option selected>Seleccionar municipio/ciudad...</option>
                <option value="city1">Municipio/Ciudad 1</option>
                <option value="city2">Municipio/Ciudad 2</option>
                <option value="city3">Municipio/Ciudad 3</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="canton" class="form-label text-primary">Cantón</label>
              <select class="form-select" id="canton">
                <option selected>Seleccionar cantón...</option>
                <option value="canton1">Cantón 1</option>
                <option value="canton2">Cantón 2</option>
                <option value="canton3">Cantón 3</option>
              </select>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-12">
              <label for="address" class="form-label text-primary">Dirección específica</label>
              <input type="text" class="form-control" id="address" placeholder="Ingrese la dirección específica">
            </div>
          </div>
         
        </form>
      </div>
    </div>
  </div>
  